
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    border-bottom: 1px solid #eee;


    .menu {
        display: flex;
        align-items: center;
        list-style: none;
        text-transform: uppercase;
        margin-left: 25rem;

        .item>a {
            margin-right: 1.5rem;
            font-size: 16px;
            font-weight: 600;
            color: royalblue;
            transition: 200ms;

            &:hover {
                color: map-get($theme-color, primary-color);
                text-decoration-line: underline;
                text-decoration-color: #2dff26;
                text-decoration-thickness: 3px;

            }

            &.active {
                color: map-get($theme-color, primary-color);
            }
        }
    }
}
